<?xml version="1.0" encoding="utf-8"?>
<!-- 
		.NET application configuration file     
		This file must have the exact same name as your application with .config appended to it. 
		
		For example if your application is ConsoleApp.exe then the config file must be ConsoleApp.exe.config. 
		It must also be in the same directory as the application. 
	-->
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="uBasicForm.Properties.settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="uBasicForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <uBasicForm.Properties.settings>
      <setting name="ConsoleFont" serializeAs="String">
        <value>Lucida Console, 10.125pt</value>
      </setting>
      <setting name="ConsoleFontColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="ConsoleColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="File1" serializeAs="String">
        <value/>
      </setting>
      <setting name="File2" serializeAs="String">
        <value/>
      </setting>
      <setting name="File3" serializeAs="String">
        <value/>
      </setting>
      <setting name="File4" serializeAs="String">
        <value/>
      </setting>
      <setting name="FileCount" serializeAs="String">
        <value>0</value>
      </setting>
    </uBasicForm.Properties.settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
